<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="grapher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <grapher.Properties.Settings>
            <setting name="Chart_BG_Colour" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="Chart_Font_Size" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Chart_Axis_Font_Size" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Chart_Series_Line_Width" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Chart_FG_Colour" serializeAs="String">
                <value>Desktop</value>
            </setting>
        </grapher.Properties.Settings>
    </userSettings>
</configuration>